<div>
  <h2>{{title}}</h2>
  <div>
    <label>
      <input class="input-todo" placeholder="Input you Title" [ngModel]="respons">
    </label>
    <label>
      <button type="button" (click)="addTestRespons(respons)">Add New Task</button>
    </label>
  </div>

  <div class="todo-input-block">
    <label>
      <input class="input-todo" placeholder="Input you Title" >
    </label>
    <span class="due-date">Due Date</span>
    <label>
      <select name="responsible">
        <option value="Some man" *ngFor="let ResponsibleList of responsible">{{ResponsibleList.responsiblePerson}}</option>
      </select>
    </label>
    <button type="button">Add New Task</button>
  </div>
  <p>Test items (later need delete)</p>
  <span *ngFor="let TodoItem of items" [ngClass]="{'new': TodoItem.status === 'new', 'process': TodoItem.status === 'in process',
  'done': TodoItem.status === 'done'}">{{TodoItem.title}} {{TodoItem.title}} status = {{TodoItem.status}}<br /> </span>
</div>
