.respons-input-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 20px 0;
  .input-respons{
    width: 300px;
  }
}

.todo-input-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .input-todo{
    width: 350px;
    margin: 0;
  }
  .due-date{
    margin: 0;
    width: 100px;
  }
}
