<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
<h1 class="main-header">{{title}}</h1>
<h2 class="sub-header">{{myPlans}}</h2>
  <ul>
    <li class="plans-list" [ngClass]="{'plan-status': Plan.status}" *ngFor="let Plan of plans">
      <div>{{Plan.id}}. {{Plan.info}}</div>
      <label>
        <span>{{Plan.status}}</span>
        <input type="checkbox" [(ngModel)]="Plan.status"/>
      </label>
    </li>
  </ul>
  <div>
    <p>Тестую код з прикладу:</p>
    <p>Имя пользователя: {{user?.name}}</p>
    <p>Возраст пользователя: {{user?.age}}</p>
  </div>

<app-todo></app-todo>
<router-outlet></router-outlet>
</div>
