<h1>{{firstComponent}} component</h1>
<p> Added and edit the new task </p>
<label> Add/Edit task
  <input [(ngModel)]="tasks.taskText" placeholder="Input you new task">
</label>

<p>This component take the id, status and todo task</p>
<ul>
  <li class="task-list">
    <div class="task-id"><span>This is the task ID: </span>{{tasks.id}}</div>
    <div class="task-status"><span>This is the task Status: </span>{{tasks.status}}</div>
    <div class="task-text"><span>This is the task Text: </span>{{tasks.taskText}}</div>
  </li>
</ul>
